[submodule "lib/z80"]
	path = lib/z80
	url = https://github.com/kosarev/z80.git
[submodule "lib/z80ex"]
	path = lib/z80ex
	url = https://github.com/lipro/z80ex.git
[submodule "lib/sockpp"]
	path = lib/sockpp
	url = https://github.com/fpagliughi/sockpp.git
[submodule "lib/argagg"]
	path = lib/argagg
	url = https://github.com/vietjtnguyen/argagg.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "lib/structopt"]
	path = lib/structopt
	url = https://github.com/p-ranav/structopt.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
